DATABRICKS_HOST=host databricks
DATABRICKS_TOKEN=ton_token_databricks
DATABRICKS_HTTP_PATH=/sql/1.0/warehouses/XXXXXXXXXXX

# === Unity Catalog ===
CATALOG=pfa_data
SCHEMA=ml_outputs
MODEL_ALIAS=champion

# === Encoder ===
ENCODER_PATH=./models/ml_ordinal_encoder.joblib

# === API ===
API_HOST=0.0.0.0
API_PORT=8000
API_URL=http://localhost:8000

# === Dash ===
DASH_PORT=8050

# === Power BI ===
POWERBI_URL=

# === Email contact ===
CONTACT_EMAIL=allahndiguimj@gmail.com
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASSWORD=